.box{
    /* margin-top:2%; */
    width:70%;
    height:auto;
    /* background-color: aqua; */
    border: 2px black solid;
    border-radius:50px 0% 50px 0%;
    /* overflow-x: hidden; */
    }
    .container{
    /* background-color: aqua; */
    width:100%;
    height:450px;
    overflow-x: hidden;
    }
    .head{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        /* height:30%; */
        display:grid;
        grid-template-columns:auto auto auto;
    }
    .head button,h5{
        margin-top: 20%;
    }
    .link button {
       transition: .7s ease;
       width:120px;
       height:30px;
       border-radius:20px 0% 20px 0%
    }

    .link button:hover{
      background-color:rgb(218, 218, 139);
      width:130px;
      transition: .7s ease;

      /* height:32px; */

    }
    .footer{
    width:70%;
    height:10%;
    background-color: blanchedalmond;
    border-radius:0% 0% 10px 10px;
    border: 2px black solid;

    }
    /* .cursor{
    display:hidden;
    width:70%;
    height:10%;
    background-color: blanchedalmond;
    border-radius:0% 0% 10px 10px;
    } */

     #create{
        width:100px;
        margin-top:2%;
        margin-bottom:10px;
     }
     #cursor{
        width:100px;
     }
     button:hover ~ .cursor{
        display:none;
     }

     #active{
      background-color:yellow;
     }
